
@{
    ViewData["Title"] = "Error";
}

<h1>Error</h1>
<p>
    Several actors can play a role in one film;<br />
    An actor can play roles in several films;<br />
    Multiple reviews can be placed for one film;<br />
    One actor can play only one role in 1 film;
</p>
